.header {
    background-color: #5493a7;
    &__heading {
        margin-left: 30px;
    }
}
.footer {
    background-color: #5d88a5;
    &__text {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
