*{
    box-sizing: border-box;
}
html,body{
    height: 100%;
    margin: 0;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    font-family: Explore, sans-serif;
}
.main {
    flex: 1 1 auto;
    background-color: #87bdce;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    &__link {
        font-size: 20px;
        order: 1;
        text-decoration: none;
        border: 1px solid #000;
        border-radius: 20px;
        background-color: #000;
        color:#87bdce;
        padding: 15px;
        transition: all 0.5s ease;
        &--hovered:hover{
            background-color: #317a91;
            color: #000;
        }
    }
    &__imagebox {
        max-width: 700px;
        border: 5px solid #317a91;
        margin-bottom: 15px;
    }
    &__image {
        display: block;
        max-width: 100%;
    }
}
