@use "../mixins" as *;
@use "../variables" as *;

.header {
    @include fs(md);
    background-color: col(bg);
    &__nav {
        @include flex(space-between, center);
        padding: 5px 0;
    }
    &__list {
        @include flex(false, center);
        list-style: none;
    }
    &__item {
        margin-right: 20px;
        &:last-child {
            margin-right: 0;
        }
    }
    &__item-link {
        color: col(text);
        text-decoration: none;
        outline: transparent;
        &:hover {
            color: col(text-hover);
        }
        &:focus {
            color: col(text-hover);
        }
    }
    &__logo {
        outline: transparent;
        &:focus &-img {
            fill: col(text-hover);
        }
    }
    &__logo-img {
        &:hover {
            fill: col(text-hover);
        }
    }
}

@media (max-width: mq(sm)){
    .header{
        &__item-link {
            @include fs(sm);
        }
    }
}